@model IEnumerable<Demo_Web.Models.recipe>

@{
    ViewData["Title"] = "Recipes";
}

<h1>Submit Your Recipe!</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Ulam</p>
            </th>
            <th>
                <p>Chef</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ulamname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ulamauthor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
